@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* position: relative; */
  background-image: url(../../public/bg-svg/gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  min-height: calc(100vh - 368px);
}

h1 {
  font-size: 52.5px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 43px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  margin-top: 48px;
  font-size: 35.5px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  max-width: 65ch;
}

small {
  margin-top: 16px;
  font-size: 12.5px;
  font-weight: 400;
  line-height: normal;
}

.spacer {
  @apply mx-6 mt-14 max-w-[1280px] md:mx-12 md:mt-20 lg:mx-20;
}

.calendarDatePickerMate .rdp-tbody .\[\&\:has\(\[aria-selected\]\)\]\:bg-accent:has([aria-selected]) {
  background-color: transparent !important;
}
.calendarDatePickerMate .rdp-tbody button.rdp-button:not(:disabled)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 50%;
  opacity: 0.2;
  z-index: 25;
}

.calendarDatePickerMate .rdp-caption_start,
.calendarDatePickerMate tr {
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 600px) {
  h1 {
    font-size: 61px;
  }
  h2 {
    font-size: 49px;
  }
  h3 {
    font-size: 39px;
  }
  h4 {
    font-size: 25px;
  }
  .rdp-weeknumber {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 55px;
  }
  h3 {
    font-size: 43px;
  }
  h4 {
    font-size: 26px;
  }

  #bookingBlock > article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }

  #bookingBlock > article > div,
  #contactForm > div {
    height: fit-content;
  }
  #bookingBlock > article > div:first-child,
  #contactForm > div:first-child {
    max-width: 75%;
  }
}

@media (min-width: 1439px) {
  #bookingBlock,
  #bookingComplete {
    margin-inline: auto !important;
  }
}

@layer base {
  :root {
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;

    --primaryColor: 255 8% 10%;
    --secondaryColor: 0 0% 95%;
    --accentColor: 356 100% 52%;
    --contrastColor: 0 0% 18%;

    --level1Gradient: #ffffff, #59636f;
    --level2Gradient: #e0f2fe, #7dd3fc;
    --level3Gradient: #38bdf8, #1d4ed8;
    --expertGradient: #e879f9, #c026d3;
    --masterGradient: #f97316, #dc2626;
    --nlpGradient: #ebd720, #ef7300;
    --bday1Gradient: #f97316, #dc2626;
    --bday2Gradient: #f97316, #dc2626;
    --rotate: 132deg;

    --level1Shadow: rgba(96, 143, 198, 0.39);
    --level2Shadow: rgba(96, 143, 198, 0.39);
    --level3Shadow: rgba(0, 26, 165, 0.39);
    --expertShadow: rgba(152, 0, 165, 0.39);
    --masterShadow: rgba(165, 0, 0, 0.39);
    --nlpShadow: rgba(165, 82, 0, 0.39);
    --bday1Shadow: rgba(165, 0, 0, 0.39);
    --bday2Shadow: rgba(165, 0, 0, 0.39);

    --background: 255, 8%, 10%, 1;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 356, 100%, 52%, 1;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 0, 0%, 95%, 1;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0, 0%, 95%, 1;
    --input: 0, 0%, 95%, 1;
    --ring: 356, 100%, 52%, 1;
    --radius: 2px;
    --card-height: 320px;
    --card-width: 208px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* REMOVES ARROWS FROM INPUT TYPE=NUMBER FIELDS */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SHAKE ANIMATION FOR FORMS */

.shake {
  animation: shakeField 0.4s ease-in-out forwards;
}

@keyframes shakeField {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@property --rotate {
  syntax: '<angle>';
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 80deg;
  }
  100% {
    --rotate: 437deg;
  }
}

/* LOADER ANIMATION */
.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #ffffff;
  border-bottom-color: #59636f;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* RIPPLE ANIMATION - SELECT FIELD */

.bdr-ripple-ani-btn.pink {
  background: var(--accentColor);
  color: white;
  animation: at-ripple-pink 1s linear infinite;
  border-radius: 4px;
}

@-webkit-keyframes at-ripple-pink {
  0% {
    box-shadow: 0 4px 10px rgba(255, 10, 27, 0.1), 0 0 0 0 rgba(255, 10, 27, 0.6), 0 0 0 5px rgba(255, 10, 27, 0.2), 0 0 0 10px rgba(255, 10, 27, 0.1);
  }
  100% {
    box-shadow: 0 4px 10px rgba(255, 10, 27, 0.6), 0 0 0 5px rgba(255, 10, 27, 0.2), 0 0 0 10px rgba(255, 10, 27, 0.1), 0 0 0 20px rgba(255, 10, 27, 0);
  }
}
@keyframes at-ripple-pink {
  0% {
    box-shadow: 0 4px 10px rgba(255, 10, 27, 0.1), 0 0 0 0 rgba(255, 10, 27, 0.6), 0 0 0 5px rgba(255, 10, 27, 0.2), 0 0 0 10px rgba(255, 10, 27, 0.1);
  }
  100% {
    box-shadow: 0 4px 10px rgba(255, 10, 27, 0.6), 0 0 0 5px rgba(255, 10, 27, 0.2), 0 0 0 10px rgba(255, 10, 27, 0.1), 0 0 0 20px rgba(255, 10, 27, 0);
  }
}
