@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  position: relative;
}

h1 {
  font-size: 52.5px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 43px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  margin-top: 48px;
  font-size: 35.5px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  max-width: 65ch;
}

small {
  margin-top: 16px;
  font-size: 12.5px;
  font-weight: 400;
  line-height: normal;
}

.spacer {
  margin-inline: 24px;
  margin-top: 56px;
  max-width: 1280px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 61px;
  }
  h2 {
    font-size: 49px;
  }
  h3 {
    font-size: 39px;
  }
  h4 {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 55px;
  }
  h3 {
    font-size: 43px;
  }
  h4 {
    font-size: 26px;
  }

  .spacer {
    margin-inline: 48px;
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .spacer {
    margin-inline: 80px;
  }
}
@media (min-width: 1280px) {
  .spacer {
    margin-inline: auto;
  }
}

@layer base {
  :root {
    font-family: "Rubik", sans-serif;

    --primaryColor: 255 8% 10%;
    --secondaryColor: 0 0% 95%;
    --accentColor: 356 100% 52%;
    --contrastColor: 0 0% 18%;

    --background: 255, 8%, 10%, 1;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 356, 100%, 52%, 1;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 0, 0%, 95%, 1;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0, 0%, 95%, 1;
    --input: 0, 0%, 95%, 1;
    --ring: 356, 100%, 52%, 1;
    --radius: 2px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
